@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome, please login</h3>
    <button class="btn-light"><a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login Page</a></button>
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
